@{
    var per = ViewBag.Person as StateManagementDemo.Models.Person;
}

<h2>@ViewBag.Header</h2>
    <table border="1" color="beige">
        <tr>
            <td>PID</td>
            <td>@per.PId</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>@per.Name</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>@per.Address</td>
        </tr>
    </table>

