<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Admin Panel</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nar mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#home" routerLink="/">Home<span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#user" routerLink="/user">user<span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#post" routerLink="/post">post<span class="sr-only"></span></a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
