
@{
    ViewBag.Title = "Added to Cart - TruYum";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Success</h1>
<hr />
<h3 class="has-success">Item Added To Cart Succesfully!</h3>
<br />
<p class="h4">@Html.ActionLink("Back to Menu Item", "Index", "Menu")</p>
