
@{
    ViewBag.Title = "Empty Cart - TruYum";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>View Cart</h1>
<hr />
<p class="h3">No Item in Cart.</p>
<br />
<p class="h4">@Html.ActionLink("View Menu Item", "Index", "Menu")</p>
