<!-- ng if directive-->
<button (click)="readme()">click me</button>
<div *ngIf="showmsg"> If statement</div>

<!-- ng if else directive-->
<div class="container">
  <button (click)="readme()">click me</button>
  <div *ngIf="showmsg;else showElseMsg">Show message</div>
  <ng-template #showElseMsg>show else message</ng-template>
</div>

<!-- ngFor directive-->
<ul>
  <li *ngFor="let person of people">{{person.name}}</li>
</ul>

<!-- Forms Directive-->
<!-- {()} is a banana syntax-->
<input [(ngModel)]="username"/><br/>
<div>{{username}}</div>

<!-- ng style-->
<div [ngClass]="'one'">Learning</div>

<router-outlet></router-outlet>