@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-left">
    <p>
        <a href="NoSuchPage">Request an endpoint that doesnt exist trigger 404</a>
    </p>
    <P>
        <a href="home/index/1">
            Trigger an exception
        </a>
    </P>
    <P>
        <a href="home/index/2">
            return a 500 error
        </a>
    </P>
</div>